@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Student Registration System (SRS)</h1>
    <p class="lead">SRS Is for managing a School System's Registration'</p>


</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Departments", "Index", "Departments")</h2>
        <p>Departments Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Instructors", "Index", "Instructors")</h2>
        <p>Instructors Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Registrations", "Index", "Registrations")</h2>
        <p>Registration Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Students", "Index", "Students")</h2>
        <p>Student Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Study Terms", "Index", "StudyTerms")</h2>
        <p>Study Terms Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("TA Assignments", "Index", "TAAssignments")</h2>
        <p>TA Assignment Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("TA Graders", "Index", "TAGraders")</h2>
        <p>TA Graders Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Teaching Assignments", "Index", "TeachingAssignments")</h2>
        <p>Teaching Assignments Basic Information.</p>
    </div>


</div>